<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
<!--    其他查询语句 -->
    <select id="showFreeParking_id" resultType="Integer">
        select parking_id from parkinglot where parking_status = '空闲';
    </select>
<!--    表Parkinglot  -->
    <select id="selectPLAllstatus" resultType="po.Parkinginfo">
        select * from parkinglot
    </select>
    <select id="selectPLStatusById" resultType="po.Parkinginfo" parameterType="Integer">
         select parking_status from parkinglot where parking_id = #{parking_id}
    </select>
    <insert id="addPLinfo" parameterType="po.Parkinginfo" >
        insert into parkinglot (parking_status) values(#{parking_status})
    </insert>
    <update id="updatePLinfo" parameterType="po.Parkinginfo" >
        update parkinglot set parking_status=#{parking_status} where 1=1 and parking_id = #{parking_id}
    </update>
    <update id="statusToFree" parameterType="po.Parkinginfo" >
        update parkinglot set parking_status='空闲' where 1=1 and parking_id = #{parking_id}
    </update>
    <update id="statusToBusy" parameterType="po.Parkinginfo" >
        update parkinglot set parking_status='占用' where 1=1 and parking_id = #{parking_id}
    </update>
    <delete id="deletePLinfo" parameterType="Integer" >
        delete from parkinglot where parking_id = #{parking_id}
    </delete>

<!--    表carinfo  -->
    <select id="selectCIAll" resultType="po.carinfo">
        select * from carinfo
    </select>
    <select id="selectCIById" resultType="po.carinfo" parameterType="Integer">
        select car_number,host_name,phone,parking_id from carinfo where user_id = #{user_id}
    </select>
    <insert id="addCI" parameterType="po.carinfo" >
        insert into carinfo (car_number,host_name,phone,parking_id) values(#{car_number},#{host_name},#{phone},#{parking_id})
    </insert>
    <update id="updateCI" parameterType="po.carinfo" >
        update carinfo set car_number=#{car_number},host_name=#{host_name},phone=#{phone},parking_id=#{parking_id} where 1=1 and user_id = #{user_id}
    </update>
    <delete id="deleteCI" parameterType="Integer" >
        delete from carinfo where parking_id = #{parking_id}
    </delete>
    <select id="getParkingIdByUserId" parameterType="Integer" resultType="Integer">
        select parking_id from carinfo where user_id=#{user_id};
    </select>
    <select id="getcarnumberByParkingId" resultType="String">
        select car_number from carinfo where parking_id=#{parking_id}
    </select>
    <select id="gethostnameByParkingId" resultType="String">
        select host_name from carinfo where parking_id=#{parking_id}
    </select>
    <select id="getphoneByParkingId" resultType="Integer">
        select phone from carinfo where parking_id=#{parking_id}
    </select>
<!--  表fare的sql语句  -->
    <select id="selectallfare" resultType="po.fare">
        select * from fare
    </select>
    <select id="getStartTime" parameterType="Integer" resultType="String">
        select starttime from fare where parking_id=#{parking_id}
    </select>
    <select id="getEndTime" parameterType="Integer" resultType="String">
        select endtime from fare where parking_id=#{parking_id}
    </select>
    <select id="selectTimeDiff" resultType="Integer" parameterType="Integer" >
        SELECT TIMESTAMPDIFF (minute,starttime,endtime) as minute from fare where parking_id=#{parking_id};
    </select>
    <update id="updateStartTime"  parameterType="Integer">
        update fare set starttime= now() where parking_id=#{parking_id};
    </update>
    <update id="updateEndTime"  parameterType="Integer">
        update fare set endtime= now() where parking_id=#{parking_id};
    </update>
    <insert id="addfareinfo">
        INSERT INTO fare (parking_id) VALUES (#{parking_id});
    </insert>
    <delete id="deletefareinfo">
        DELETE FROM fare WHERE 1=1 and parking_id = #{parking_id};
    </delete>
    <update id="updatefareinfo" parameterType="po.fare">
        UPDATE fare SET fare = #{fare} WHERE parking_id = #{parking_id};
    </update>
    <select id="getfareById" resultType="Integer" parameterType="Integer">
        select fare from fare where parking_id=#{parking_id};
    </select>
<!--    表history的sql语句 -->
    <select id="selectAllhistory" resultType="po.history">
     select * from history
    </select>
    <insert id="addhistoryinfo" parameterType="po.history">
        INSERT INTO history (car_number, host_name, phone, starttime, endtime, fare) VALUES (#{car_number}, #{host_name}, #{phone}, #{starttime},#{endtime},#{fare});
    </insert>
    <select id="selecthistoryBycarnumber" parameterType="String" resultType="po.history">
        select * from history where car_number=#{var}
    </select>
</mapper>
